
      <div class="container">
        <div class="row gy-3">
          <div class="col-md-12 mb-3">
            <nav class="text-center text-md-end">
              <a href="#" class="btn btn-icon btn-outline-warning">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#" class="btn btn-icon btn-outline-warning">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="#" class="btn btn-icon btn-outline-warning">
                <i class="fab fa-youtube"></i>
              </a>
              <a href="#" class="btn btn-icon btn-outline-warning">
                <i class="fab fa-twitter"></i>
              </a>
            </nav>
          </div>
          <div class="col-md-12">
            <p class="text-center text-white">#2025 Tüm Hakları Saklıdır..</p>
          </div>
        </div>
      </div>
   